@use './variables' as var;
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: var.$font-size;
}
body {
    font-family: var.$karla;
}
.shadowmain{
    background: linear-gradient(rgba(0, 0, 0, 0.808),rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.267))
}
.shadowfoot{
    background: linear-gradient(rgba(0, 0, 0, 0.267),rgba(0, 0, 0, 0.164))
}

h1,h2{
    font-family: var.$dmserif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: var.$tablet) {
    .shadowmain{
        background: none;
    }
    .shadowfoot{
        background: none;
    }
    
}
