@use './variables' as var;
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: var.$font-size;
}
body {
    font-family: var.$karla;
}

h1,h2{
    font-family: var.$dmserif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
