@use './variables' as var;
.navbar {
    outline: 2px solid black;
    height: 5rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    .hamburger {
        
        img {
            cursor: pointer;
        }
        #ham {
            
            display: inline;
        }
        #close {
            display: none;
        }
    }
    .navplate {
        position: absolute;
        display: inline;
        z-index: 2;
        background-color: black;
        width: 100%;

        left: 0;
        
        ul{
            li{
                a{
                    color: white;
                }
            }
        }
    }
    @media (min-width: var.$tablet) {
        .hamburger {
            #ham {
                display: none;
            }
            #close {
                display: none;
            }
        }
        .navplate {
            display: inline;
            ul {
                li {
                    
                    a {
                        font-size: 0.9rem;
                        border: none;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: var.$light-gray;
                        &:hover{
                            color: var.$very-dark-violet;
                        }
                    }
                    display: inline-block;
                    margin: 0 1rem;
                    
                    &:nth-child(4){
                        &:hover{
                            cursor: pointer;
                            background-color: var.$dark-violet;
                            a{
                                color: white;
                            }
                        }
                        border: 2px solid var.$dark-violet;
                        padding:  0.5rem 1.5rem;
                        a{
                            color: var.$dark-violet;
                        }
                    }
                    
                }

                
            }
        }
    }
}
