footer {
  display: block;
  background-color: rgba(128, 128, 128, 0.075);
  text-align: center;
}
footer #brand {
  padding-top: 3rem;
  margin-bottom: 4rem;
  position: relative;
}
footer #brand #footer-mobile {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
footer #brand #foot-logo {
  margin: 2rem 0;
  margin-bottom: 1.5rem;
}
footer #brand #social-icons {
  margin-bottom: 2rem;
}
footer #brand #social-icons img {
  margin: 0 2px;
}
footer #brand::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.171);
}
footer #brand #footer-desktop {
  display: none;
}
footer #about {
  margin-bottom: 7rem;
  text-transform: uppercase;
}
footer #about div {
  font-weight: 700;
}
footer #about div span {
  color: rgba(0, 0, 0, 0.459);
  display: block;
  margin: 2rem 0;
}
footer #about div ul {
  color: rgba(0, 0, 0, 0.74);
  list-style: none;
}
footer #about div ul li {
  margin: 7px 0;
}

@media (min-width: 768px) {
  footer #brand {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  footer #brand #footer-mobile {
    display: none;
  }
  footer #brand #footer-desktop {
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
  }
  footer #brand #foot-logo {
    padding-left: 9%;
    margin: 0;
  }
  footer #brand #social-icons {
    padding-right: 9%;
  }
  footer #brand #social-icons img {
    margin: 0 2px;
  }
  footer #brand::after {
    display: none;
  }
  footer #brand::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 82%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.295);
    transform: translateX(11.2%);
  }
  footer ul {
    list-style: none;
  }
  footer #about {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
  }
  footer #about div {
    text-align: left;
  }
}
.navbar {
  height: 5rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar .hamburger img {
  cursor: pointer;
  display: none;
}
.navbar .hamburger .ham {
  display: inline;
}
.navbar .hamburger .close {
  display: inline;
}
.navbar .navplate {
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #221c25;
  width: 100%;
  text-align: center;
  left: 0;
  top: 5rem;
}
.navbar .navplate #nav-pattern img {
  width: 100%;
}
.navbar .navplate ul {
  list-style: none;
}
.navbar .navplate ul li {
  margin: 2.8125rem 0;
}
.navbar .navplate ul li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar .navplate ul li a:hover {
  padding: 1em 6em;
  border: 2px solid white;
}
.navbar .navplate ul li:hover {
  cursor: pointer;
}
.navbar .navplate ul li:nth-child(1) {
  margin-top: 3.3125rem;
}
.navbar .navplate ul li:nth-child(4) {
  margin-bottom: 4rem;
}
.navbar .navdisplay {
  display: inline;
}
@media (min-width: 768px) {
  .navbar .hamburger .ham {
    display: none;
  }
  .navbar .hamburger .close {
    display: none;
  }
  .navbar .navplate {
    margin-left: 15%;
    display: inline;
    position: static;
    background-color: #fff;
  }
}
@media (min-width: 768px) and (min-width: 1000px) {
  .navbar .navplate {
    margin-left: 35%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .navbar .navplate {
    margin-left: 60%;
  }
}
@media (min-width: 768px) and (min-width: 1400px) {
  .navbar .navplate {
    margin-left: 50%;
  }
}
@media (min-width: 768px) {
  .navbar .navplate #nav-pattern {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar .navplate ul li {
    position: static;
    margin: 0;
    display: inline-block;
    margin: 0 1rem;
  }
  .navbar .navplate ul li a {
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #c2baba;
  }
  .navbar .navplate ul li a:hover {
    padding: 0;
    border: none;
    color: #2b272f;
  }
  .navbar .navplate ul li:nth-child(4) {
    border: 2px solid #2d2640;
    padding: 0.5rem 1.5rem;
  }
  .navbar .navplate ul li:nth-child(4):hover {
    cursor: pointer;
    background-color: #2d2640;
  }
  .navbar .navplate ul li:nth-child(4):hover a {
    color: white;
  }
  .navbar .navplate ul li:nth-child(4) a {
    color: #2d2640;
  }
  .navbar .navplate ul li:nth-child(1) {
    margin-top: 0;
  }
  .navbar .navplate ul li:nth-child(4) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar .navdisplay {
    display: inline;
  }
}

.hero #hero-image-mobile img {
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .hero #hero-image-mobile img {
    display: none;
  }
}
.hero #hero-image-desktop img {
  display: none;
}
@media (min-width: 768px) {
  .hero #hero-image-desktop img {
    display: inline;
  }
}
.hero #hero-content {
  background-color: #2d2640;
  text-align: center;
  color: white;
  padding: 6.125rem 1rem;
  font-size: 1rem;
  position: relative;
}
.hero #hero-content h1 {
  font-weight: 400;
  font-size: 3rem;
}
.hero #hero-content p {
  font-size: 1.2rem;
  line-height: 1.5em;
  margin: 1.2rem;
  margin-bottom: 4em;
}
.hero #hero-content a {
  border: 2px solid white;
  padding: 0.8em 2.4em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.hero #hero-content a:hover {
  background: white;
  color: #2d2640;
}
.hero #hero-content img {
  position: absolute;
  z-index: 1;
}
.hero #hero-content #left-mobile {
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .hero #hero-content #left-mobile {
    display: none;
  }
}
.hero #hero-content #right-mobile {
  top: 27em;
  right: 0;
  width: 30%;
}
@media (min-width: 768px) {
  .hero #hero-content #right-mobile {
    display: none;
  }
}
.hero #left-desktop,
.hero #right-desktop {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    display: flex;
    padding: 2rem;
    padding-right: 4rem;
    background-color: #2d2640;
  }
  .hero #hero-content {
    padding-top: 8.8rem;
    padding-left: 4em;
    position: relative;
    flex-basis: 60%;
    text-align: left;
  }
  .hero #hero-content p {
    margin-left: 0;
  }
  .hero #hero-content::before {
    position: absolute;
    content: "";
    padding: 0 4rem;
    top: 6rem;
    bottom: 0;
    height: 1px;
    background-color: white;
  }
  .hero #hero-image-desktop {
    flex-basis: 40%;
    position: relative;
  }
  .hero #hero-image-desktop img {
    position: absolute;
    z-index: 1;
    top: 15%;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .hero #hero-image-desktop img {
    width: auto;
  }
}
@media (min-width: 768px) {
  .hero img {
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .hero #left-desktop {
    display: inline;
    top: 70%;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .hero {
    padding-right: 0rem;
  }
  .hero #right-desktop {
    display: inline;
    right: 0;
    top: 0;
    height: 90%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
}

.shadowhero {
  position: relative;
}
.shadowhero::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.829));
}

.shadowmain {
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.685));
}

.shadowspace {
  background: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.356));
}

.shadowfoot {
  background: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.171));
}

h1, h2 {
  font-family: "DM Serif Display", serif;
}

.attribution {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .shadowmain {
    background: none;
  }

  .shadowfoot {
    background: none;
  }
}
#space {
  height: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.781);
  padding: 0 2rem;
}
main .content {
  display: flex;
  flex-direction: column;
}
main .content div {
  margin: 3rem 1rem;
}
main .content div p {
  margin-top: 1em;
  line-height: 1.5;
}
main .heading {
  font-size: 1.8rem;
  margin-top: 10rem;
}
main .heading h1 {
  position: relative;
}
main .heading h1::before {
  content: "";
  height: 1px;
  width: 7ch;
  position: absolute;
  bottom: 5rem;
  transform: translateX(45%);
  background-color: rgba(0, 0, 0, 0.322);
}
main .content-footer {
  margin-top: 4em;
  padding: 3em;
  background-color: #2d2640;
  position: relative;
}
main .content-footer h1 {
  font-family: serif;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.932);
  margin-bottom: 2em;
}
main .content-footer a {
  font-size: 1.1rem;
  padding: 0.5em 1em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
}
main .content-footer a:hover {
  background-color: white;
  color: #2d2640;
}
main .content-footer img {
  display: none;
}
main .content-footer #work-mobile {
  position: absolute;
  display: inline;
  right: 0;
  top: 0;
  height: 100%;
}

#space {
  border: none;
}

@media (min-width: 768px) {
  main {
    display: flex;
    text-align: left;
    padding: 0 8rem;
    color: rgba(0, 0, 0, 0.795);
  }
  main .heading {
    margin-top: 20rem;
    font-size: 1.8rem;
  }
  main .heading h1 {
    position: relative;
  }
  main .heading h1::before {
    content: "";
    height: 1px;
    width: 4ch;
    position: absolute;
    bottom: 6.5rem;
    transform: translateX(-1%);
    background-color: rgba(0, 0, 0, 0.322);
  }
  main .content {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  main .content div {
    margin: 2em 0em;
    margin-right: 3em;
    padding-right: 3em;
  }
  main .content div img {
    margin-bottom: 1rem;
  }
  main .content-footer {
    padding: 5em;
    position: relative;
  }
  main .content-footer h1 {
    font-family: serif;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.932);
    margin-bottom: 0;
    margin-right: 4em;
  }
  main .content-footer a {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    transform: translate(-50%, 150%);
    z-index: 2;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
  }
  main .content-footer a:hover {
    cursor: pointer;
    background-color: white;
    color: #2d2640;
  }
  main .content-footer #work-mobile {
    display: none;
  }
  main .content-footer #work-desktop {
    position: absolute;
    z-index: 1;
    display: inline;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */