.navbar {
  height: 5rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar .hamburger img {
  cursor: pointer;
  display: none;
}
.navbar .hamburger .ham {
  display: inline;
}
.navbar .hamburger .close {
  display: inline;
}
.navbar .navplate {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #221c25;
  width: 100%;
  text-align: center;
  left: 0;
  top: 5rem;
}
.navbar .navplate #nav-pattern img {
  width: 100%;
}
.navbar .navplate ul li {
  margin: 2.8125rem 0;
}
.navbar .navplate ul li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar .navplate ul li a:hover {
  padding: 1em 6em;
  border: 2px solid white;
}
.navbar .navplate ul li:hover {
  cursor: pointer;
}
.navbar .navplate ul li:nth-child(1) {
  margin-top: 3.3125rem;
}
.navbar .navplate ul li:nth-child(4) {
  margin-bottom: 4rem;
}
.navbar .navdisplay {
  display: inline;
}
@media (min-width: 768px) {
  .navbar .hamburger .ham {
    display: none;
  }
  .navbar .hamburger .close {
    display: none;
  }
  .navbar .navplate {
    display: inline;
    position: static;
    background-color: #fff;
  }
  .navbar .navplate #nav-pattern {
    display: none;
  }
  .navbar .navplate ul li {
    position: static;
    margin: 0;
    display: inline-block;
    margin: 0 1rem;
  }
  .navbar .navplate ul li a {
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #c2baba;
  }
  .navbar .navplate ul li a:hover {
    padding: 0;
    border: none;
    color: #2b272f;
  }
  .navbar .navplate ul li:nth-child(4) {
    border: 2px solid #2d2640;
    padding: 0.5rem 1.5rem;
  }
  .navbar .navplate ul li:nth-child(4):hover {
    cursor: pointer;
    background-color: #2d2640;
  }
  .navbar .navplate ul li:nth-child(4):hover a {
    color: white;
  }
  .navbar .navplate ul li:nth-child(4) a {
    color: #2d2640;
  }
  .navbar .navplate ul li:nth-child(1) {
    margin-top: 0;
  }
  .navbar .navplate ul li:nth-child(4) {
    margin-bottom: 0;
  }
  .navbar .navdisplay {
    display: inline;
  }
}

.hero #hero-image-mobile img {
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .hero #hero-image-mobile img {
    display: none;
  }
}
.hero #hero-image-desktop img {
  display: none;
}
@media (min-width: 768px) {
  .hero #hero-image-desktop img {
    display: inline;
  }
}
.hero #hero-content {
  background-color: #2d2640;
  text-align: center;
  color: white;
  padding: 6.125rem 1rem;
  font-size: 1rem;
  position: relative;
}
.hero #hero-content h1 {
  font-weight: 400;
  font-size: 3rem;
}
.hero #hero-content p {
  font-size: 1.2rem;
  line-height: 1.5em;
  margin: 1.2rem;
  margin-bottom: 4em;
}
.hero #hero-content a {
  border: 2px solid white;
  padding: 0.8em 2.4em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.hero #hero-content a:hover {
  background: white;
  color: #2d2640;
}
.hero #hero-content img {
  position: absolute;
  z-index: 1;
}
.hero #hero-content #left-mobile {
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .hero #hero-content #left-mobile {
    display: none;
  }
}
.hero #hero-content #right-mobile {
  top: 27em;
  right: 0;
  width: 30%;
}
@media (min-width: 768px) {
  .hero #hero-content #right-mobile {
    display: none;
  }
}
.hero #left-desktop,
.hero #right-desktop {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    display: flex;
    padding: 2rem;
    background-color: #2d2640;
  }
  .hero #hero-content {
    padding-top: 8.8rem;
    padding-left: 6em;
    position: relative;
    flex-basis: 60%;
    text-align: left;
  }
  .hero #hero-content p {
    margin-left: 0;
  }
  .hero #hero-content::before {
    position: absolute;
    content: "";
    padding: 0 4rem;
    top: 6rem;
    bottom: 0;
    height: 1px;
    background-color: white;
  }
  .hero #hero-image-desktop {
    flex-basis: 40%;
    position: relative;
  }
  .hero #hero-image-desktop img {
    position: absolute;
    z-index: 1;
    top: 15%;
    width: 100%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .hero #hero-image-desktop img {
    width: auto;
  }
}
@media (min-width: 768px) {
  .hero img {
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .hero #left-desktop {
    display: inline;
    top: 70%;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .hero #right-desktop {
    display: inline;
    right: 0;
    top: 0;
    height: 90%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
}

.shadowmain {
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.267));
}

.shadowfoot {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.164));
}

h1, h2 {
  font-family: "DM Serif Display", serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .shadowmain {
    background: none;
  }

  .shadowfoot {
    background: none;
  }
}/*# sourceMappingURL=style.css.map */